@import url('./Basic/color');
@import url('.Basic/text');

.hb__header--height {
    height: 100vh;
    padding: 0px;
    margin:  0px;
    background-image: url('./img/background.jpeg');
    background-size: cover;
     .hb__heder {
         width:100%;
         height: 100px;
         background-color: hb__basicColor;
     }
}