

.hb__body {
  margin:0px;
  padding :0px;
}

.hb__header {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hb__header__navbar {
  list-style: none;
  display: inline-block;
}

.hb__header__navbar__item {
  display: inline;
  margin-left: 10px; 
}
