@import url('https://fonts.googleapis.com/css?family=Raleway');


html {
  height:100%;
}

body {
    margin: 0px;
    padding: 0px;
    height:100vh;
    background-image: url('../img/main-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
header{
  position: fixed;
  z-index: 999;
}

nav {
  position: relative;
  left: 4em;
  top: 2em;
}

a {
  margin-left: 3em;
  color: white;
  text-decoration:none;
}

a:link {
  color: white;
  text-decoration: none;
}

a:hover {
  color: red;
}

.page-title {
 position: relative;
 left:50%;
 top:30%;
 transform: translate(-50%);
 font-size: 3em;
 font-family: 'Raleway', sans-serif;
 padding: 10px px;
 border: 6px solid white;
 color: white;
 text-align: center;
  width:40vw;
  text-shadow: 1px 1px 3px black;
}

i {
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    display: inline-block;
  }

.go-down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}
h1 {
}