
$hb__basicColorBlue: #448AFF;
$hb__basicColorOrange: #FF5722;
$hb__basicColorPink: #FF8A80;
$hb__basicColorBlack: black;
$hb__basicColorGray:gray;
$hb__basicColorLightGray:lightGray;
$hb__basicColorWhite: white;


