

$hb__basicColor: #448AFF;
$hb__basicColor--blue: #448AFF;
$hb__basicColor--orange: #FF5722;
$hb__basicColor--pink: #FF8A80;
$hb__basicColor--black: black;
$hb__basicColor--gray:gray;
$hb__basicColor--lightGray:lightGray;
$hb__basicColor--white: white;


