
$hb__basicColor--Blue: #448AFF;
$hb__basicColor--Orange: #FF5722;
$hb__basicColor--Pink: #FF8A80;
$hb__basicColor--Black: black;
$hb__basicColor--Gray:gray;
$hb__basicColor--LightGray:lightGray;
$hb__basicColor--White: white;


