@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Lobster|Open+Sans:300,400,400i,600,700,800');

$hb__textFontSize: 12px;
$hb__text--h1: $hb__textFontSize * 2;
$hb__textFontFamily:'Open Sans', sans-serif;
$text-decoration:none;    
$hb__textFontColor: black;
$hb__basicColor--lightblack: #2c3e50;

.hb__basicText {
    font-family: $hb__textFontFamily;
    text-decoration: $text-decoration;  
    letter-spacing: 1px;
    font-weight: 200;
}

.hb__text--h1 {
    @extend .hb__basicText;
    font-size: $hb__textFontSize*2.5;
}

.hb__text--h2 {
    @extend .hb__basicText;
    font-size: $hb__textFontSize*1.75;
    color: $hb__basicColor--lightblack; 
    font-weight: 200;  
}

.hb__text--h3 {
    @extend .hb__basicText;    
    font-size: $hb__textFontSize*1.5;
}

.hb__text--h4 {
    @extend .hb__basicText;    
    font-size: $hb__textFontSize*1.25;
    padding: 14px;
}

.hb__text--h5 {
    @extend .hb__basicText;    
    font-size: $hb__textFontSize*0.75;
}

.hb__text--h6 {
    @extend .hb__basicText;    
    font-size: $hb__textFontSize*0,50;
}

a {
    @extend .hb__basicText;    
    text-decoration: none;
    color: inherit;
}