@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Lobster|Open+Sans:300,400,400i,600,700,800');

$hb__textFontSize: 12px;
$hb__textFontFamily:'Open Sans', sans-serif;
$text-decoration:none;    
$hb__textFontColor: black;

.hb__basicText {
    $hb__textFontFamily:'Open Sans', sans-serif;
    $text-decoration:none;    
    $hb__textFontColor: black;
}

.hb__textH1--white {
    font-size: $hb__textFontSize*2;
}

.hb__textH2 {
    font-size: $hb__textFontSize*1.5;
}

.hb__textH3 {
    font-size: $hb__textFontSize*1.25;
}

.hb__textH4 {
    font-size: $hb__textFontSize;
}

.hb__textH5 {
    font-size: $hb__textFontSize*0.75;
}

.hb__textH6 {
    font-size: $hb__textFontSize*0,50;
}