@import '../Basic/text';
@import '../Blocks/header';
@import '../Blocks/footer';
@import '../Basic/color';
@import '../Blocks/block-container';
@import '../Blocks/footer';
@import '../Components/column';


a {
    color:inherit !important;
    text-decoration: none!important;
   }

.hb__body__websiteName {
    width: 300px;
    position: absolute;
    left: 50%;
    top: 20vh;
    transform: translate(-50%, 0%);
    font-size: $hb__text--h1 * 2;
    color: $hb__basicColor--white;
    text-align: center;}

    .hb__body__websiteName--subText {
        width: 300px;
        position: absolute;
        left: 50%;
        top: 30vh;
        transform: translate(-50%, 0%);
        font-size: $hb__text--h1;
        color: $hb__basicColor--white;
        text-align: center;}

        .hb__body__websiteName--quote {
            max-width: 600px;
            position: absolute;
            left: 50%;
            top: 50vh;
            transform: translate(-50%, 0%);
            font-size: $hb__text--h1;
            color: $hb__basicColor--white;
            text-align: center;}

        .hb__body__websiteName--start {
            width: 200px;
            position: absolute;
            left: 50%;
            top: 80vh;
            transform: translate(-50%, 0%);
            font-size: $hb__text--h1;
            color: white;
            text-align: center;
            padding: 14px 28px;
            border: 2px solid white;
            border-radius: 15px;
            background-color: rgba($color: black, $alpha: 0.3);
            cursor: pointer;
        }