@import url("https://fonts.googleapis.com/css?family=Raleway");
@import url("https://fonts.googleapis.com/css?family=Lobster|Open+Sans:300,400,400i,600,700,800");
@import url("https://fonts.googleapis.com/css?family=Raleway");
@import url("https://fonts.googleapis.com/css?family=Lobster|Open+Sans:300,400,400i,600,700,800");
.hb__basicText, .hb__text--h1, .hb__text--h2, .hb__text--h3, .hb__text--h4, .hb__text--h5, .hb__text--h6, a {
  font-family: "Open Sans", sans-serif;
  text-decoration: none;
  letter-spacing: 1px; }

.hb__text--h1 {
  font-size: 30px; }

.hb__text--h2 {
  font-size: 21px;
  color: #2c3e50; }

.hb__text--h3 {
  font-size: 18px; }

.hb__text--h4 {
  font-size: 15px;
  padding: 14px; }

.hb__text--h5 {
  font-size: 9px; }

.hb__text--h6 {
  font-size: 0px, 50; }

a {
  text-decoration: none;
  color: inherit; }

.hb__form__header {
  height: 80px;
  max-width: 1179px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white !important; }

.hb__form__header__navbar {
  list-style: none;
  display: inline-block; }

.hb__form__header__navbar__item {
  display: inline;
  margin-right: 10px;
  color: white; }

.hb__form__header__sideMenu--icon {
  height: 40px;
  width: 40px; }

.hb__footer, footer {
  position: relative;
  bottom: 0px;
  height: 200px;
  background-color: #448AFF;
  color: white; }

.hb__socialMedia--icon {
  max-width: 30px; }

.hb__body {
  margin: 0px;
  padding: 0px; }
  .hb__body .hb__body__mainImage {
    width: 100%;
    height: 100vh;
    background-image: url("../../img/main-bg.jpg"); }
  .hb__body .hb__body__container {
    min-height: 200px;
    background-size: cover;
    background-position: center; }

.hb__footer, footer {
  position: relative;
  bottom: 0px;
  height: 200px;
  background-color: #448AFF;
  color: white; }

.hb__socialMedia--icon {
  max-width: 30px; }

.hb__basicText, .hb__text--h1, .hb__text--h2, .hb__text--h3, .hb__text--h4, .hb__text--h5, .hb__text--h6, a {
  font-family: "Open Sans", sans-serif;
  text-decoration: none;
  letter-spacing: 1px; }

.hb__text--h1 {
  font-size: 30px; }

.hb__text--h2 {
  font-size: 21px;
  color: #2c3e50; }

.hb__text--h3 {
  font-size: 18px; }

.hb__text--h4 {
  font-size: 15px;
  padding: 14px; }

.hb__text--h5 {
  font-size: 9px; }

.hb__text--h6 {
  font-size: 0px, 50; }

a {
  text-decoration: none;
  color: inherit; }

.hb__body__container__col--dark {
  background-color: rgba(255, 255, 255, 0.8);
  margin: 28px; }

.hb__body__container__col__icon {
  height: 140px;
  width: 140px;
  border-radius: 50%;
  margin: 14px; }

.hb__body__container__col__button, .hb__body__container__col__button--blue, .hb__body__container__col__button--orang, .hb__body__container__col__button--pink {
  padding: 14px 28px 14px 28px;
  letter-spacing: 1.2;
  text-align: center;
  margin: 14px 0px 28px 0px;
  font-size: 21px;
  font-weight: 200;
  border: none;
  color: white;
  border-radius: 5px; }

.hb__body__container__col__button--blue {
  background-color: #448AFF; }

.hb__body__container__col__button--orang {
  background-color: #FF5722; }

.hb__body__container__col__button--pink {
  background-color: #FF8A80; }

.hb__body__websiteName {
  width: 300px;
  position: absolute;
  left: 50%;
  top: 30vh;
  transform: translate(-50%, 0%);
  font-size: 36px;
  color: white;
  text-align: center; }

/*# sourceMappingURL=home.css.map */

form__container {
  width: 600px;
  margin: 2em auto;
  overflow: hidden;
  background: white;
  border-radius: 5px;
}

.message, .contact, .name, form__footer, form__header, form__footer, textarea {
  display: block;
  padding: 0;
  margin: 0;
  border: 0;
  clear: both;
  overflow: hidden;
}

form__header, form__footer {
  height: 75px;
  background: rgba(0, 0, 0, 0.05);
  line-height: 75px;
  padding-left: 20px;
  border-radius: 5px 5px 0 0;
}
form__header h1, form__footer h1 {
  font-size: 1.2em;
  text-transform: uppercase;
  color: rgba(51, 51, 51, 0.4);
}

.first, .last {
  float: left;
  width: 278px;
  margin: 0;
  padding: 0 0 0 20px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  height: 50px;
}

.last {
  width: 279px;
  border-left: 0;
}

.email, textarea {
  height: 50px;
  width: 578px;
  line-height: 50px;
  padding: 0 0 0 20px;
  border-top: 0;
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

textarea {
  height: 200px;
}

form__footer {
  height: 49px;
  border-top: 1px dashed rgba(0, 0, 0, 0.3);
  border-radius: 0 0 5px 5px;
  padding-left: 0;
  padding-right: 20px;
}
form__footer button {
  height: 32px;
  background: #e74c3c;
  border-radius: 5px;
  border: 0;
  margin: 7px 0;
  color: white;
  float: right;
  padding: 0 20px 0 20px;
  border-bottom: 3px solid #c0392b;
  transition: all linear .2s;
}
form__footer button:hover {
  background: #c0392b;
}
form__footer button:focus {
  outline: none;
}

.first:focus, .last:focus, .email:focus, textarea:focus, textarea:focus {
  outline: none;
  background: rgba(52, 152, 219, 0.1);
  color: rgba(51, 51, 51, 0.7);
}