.hb__body {
    margin:0px;
    padding :0px;

    .hb__body__mainImage {
      width: 100%;
      height: 100vh;
      background-image: url('../img/main-bg.jpg');
  }

  .hb__body__contianer {
     margin: 14px 0px 14px 0px;
  }
}