@import '../Basic/color';

.hb__footer, footer {
  position: relative;
  bottom: 0px;
  height: auto !important;
  background-color: $hb__basicColor--blue;
  color: white;
  overflow: hidden;
  }

.hb__socialMedia--icon {
  max-width:30px;
}
