@import '../Basic/color';

.hb__footer, footer {
    height: 200px;
    background-color: $hb__basicColor--blue;
    position: relative;
    bottom: 0px;
  }

.hb__socialMedia--icon {
  max-width:30px;
}
