@import '../Basic/color';

.hb__header {
    padding: 14px 0px;
    align-items: center;
    justify-content: space-between;
    color: white !important;
    background-color: $hb__basicColor--orange;
    z-index: 999;
    position: fixed;
    top: 0px;
  }
  
  .hb__header__navbar {
    display: flex;
    list-style: none;
    display: inline-block;
  }
  
  .hb__header__navbar__item {
    display: inline;
    margin-right: 10px;
    color: white;
  }
  
  .hb__header__sideMenu--icon {
    height: 40px;
    width: 40px;
  }