

.hb__header {
    height: 80px;
    max-width: 1179px;
    align-items: center;
    justify-content: space-between;
    color: white !important;
    z-index: 999;
    position: fixed;
  }
  
  .hb__header__navbar {
    display: flex;
    position: fixed;
    list-style: none;
    display: inline-block;
  }
  
  .hb__header__navbar__item {
    display: inline;
    margin-right: 10px;
    color: white;
  }
  
  .hb__header__sideMenu--icon {
    height: 40px;
    width: 40px;
  }